{% extends 'layout/base_admin.twig' %}
{% block content %}

    <main class="container mt-5 mb-5">
        <!-- <h3 class="text-center text-uppercase mb-3 text-primary">CẢM NHẬN VỀ BÀI HÁT</h3> -->
        <div class="row">
            <div class="col-sm">
                <a href="index.php?controller=article&action=add" class="btn btn-success">Thêm mới</a>
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th scope="col">Mã bài viết</th> -->
                            <th scope="col">Tiêu đề</th>
                            <th scope="col">Tên bài hát</th>
                            <th scope="col">Mã thể loại</th>
                            <th scope="col">Tóm tắt </th>
                            <th scope="col">Nội dung</th>
                            <th scope="col">Mã tác giả</th>
                            <th scope="col">Ngày viết</th>
                            <th scope="col">Hình ảnh</th>

                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        {# {% for value in arrticle %} #}
                             {% for key, value in arrticle %}
                            
                        <br>
                        <tr>
                               
                                <th scope="row">
                                  {{ value.tieude}}
                                </th> <th scope="row">
                                    {{value.ten_bhat}}
                                </th> <th scope="row">
                                    {{value.ma_tloai}}
                                </th> <th scope="row">
                                    {{value.tomtat}}
                                </th>
                                <th scope="row" style="max-width: 350px !important;word-wrap: break-word !important; text-align:center !important;">
                                    {{value.noidung}}
                                </th>
                                <th scope="row">
                                    {{value.ma_tgia}}
                                </th>
                                <th scope="row">
                                    {{value.ngayviet}}
                                </th>
                                <th scope="row">
                                    {{value.hinhanh}}
                                    {{value.ma_bviet}}
                                </th>
                                <td>
                                    <a href="index.php?controller=article&action=update&id={{value.ma_bviet}}"><i class="fa-solid fa-pen-to-square"></i></a>
                                </td>
                                <td>
                                    <a href="index.php?controller=article&action=delete&id='{{value.ma_bviet}}'"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}